<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cours-heading" jhiTranslate="gatewayApp.coursCours.home.createOrEditLabel">Create or edit a Cours</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.coursCours.idMatiere" for="field_idMatiere">Id Matiere</label>
                    <input type="text" class="form-control" name="idMatiere" id="field_idMatiere"
                           formControlName="idMatiere"/>
                    <div *ngIf="editForm.get('idMatiere')!.invalid && (editForm.get('idMatiere')!.dirty || editForm.get('idMatiere')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idMatiere')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idMatiere')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
                        This field is required to be at least 2 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idMatiere')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.coursCours.idClasse" for="field_idClasse">Id Classe</label>
                    <input type="text" class="form-control" name="idClasse" id="field_idClasse"
                           formControlName="idClasse"/>
                    <div *ngIf="editForm.get('idClasse')!.invalid && (editForm.get('idClasse')!.dirty || editForm.get('idClasse')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idClasse')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idClasse')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
                        This field is required to be at least 2 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idClasse')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.coursCours.idAnnee" for="field_idAnnee">Id Annee</label>
                    <input type="text" class="form-control" name="idAnnee" id="field_idAnnee"
                           formControlName="idAnnee"/>
                    <div *ngIf="editForm.get('idAnnee')!.invalid && (editForm.get('idAnnee')!.dirty || editForm.get('idAnnee')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idAnnee')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idAnnee')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
                        This field is required to be at least 2 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idAnnee')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.coursCours.enseignant" for="field_enseignant">Enseignant</label>
                    <select class="form-control" id="field_enseignant" name="enseignant" formControlName="enseignantId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="enseignantOption.id" *ngFor="let enseignantOption of enseignants; trackBy: trackById">{{ enseignantOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.coursCours.horaire" for="field_horaire">Horaire</label>
                    <select class="form-control" id="field_horaire" name="horaire" formControlName="horaireId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="horaireOption.id" *ngFor="let horaireOption of horaires; trackBy: trackById">{{ horaireOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
