<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-paiement-heading" jhiTranslate="gatewayApp.paiementPaiement.home.createOrEditLabel">Create or edit a Paiement</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.paiementPaiement.type" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                           formControlName="type"/>
                    <div *ngIf="editForm.get('type')!.invalid && (editForm.get('type')!.dirty || editForm.get('type')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('type')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.paiementPaiement.datePaiement" for="field_datePaiement">Date Paiement</label>
                    <div class="input-group">
                        <input id="field_datePaiement" type="text" class="form-control" name="datePaiement" ngbDatepicker #datePaiementDp="ngbDatepicker" formControlName="datePaiement"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="datePaiementDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('datePaiement')!.invalid && (editForm.get('datePaiement')!.dirty || editForm.get('datePaiement')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('datePaiement')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.paiementPaiement.mois" for="field_mois">Mois</label>
                    <select class="form-control" id="field_mois" name="mois" formControlName="moisId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="moisOption.id" *ngFor="let moisOption of mois; trackBy: trackById">{{ moisOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
