<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="chauffeur">
            <h2><span jhiTranslate="gatewayApp.transportChauffeur.detail.title">Chauffeur</span> {{ chauffeur.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.transportChauffeur.prenom">Prenom</span></dt>
                <dd>
                    <span>{{ chauffeur.prenom }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.transportChauffeur.nom">Nom</span></dt>
                <dd>
                    <span>{{ chauffeur.nom }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.transportChauffeur.dateNaissance">Date Naissance</span></dt>
                <dd>
                    <span>{{ chauffeur.dateNaissance }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.transportChauffeur.lieuNaissance">Lieu Naissance</span></dt>
                <dd>
                    <span>{{ chauffeur.lieuNaissance }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.transportChauffeur.cin">Cin</span></dt>
                <dd>
                    <span>{{ chauffeur.cin }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.transportChauffeur.telephone">Telephone</span></dt>
                <dd>
                    <span>{{ chauffeur.telephone }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.transportChauffeur.adresse">Adresse</span></dt>
                <dd>
                    <span>{{ chauffeur.adresse }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/chauffeur', chauffeur.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
