<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.transportChauffeur.home.title">Chauffeurs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-chauffeur" [routerLink]="['/chauffeur/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.transportChauffeur.home.createLabel">
            Create a new Chauffeur
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="chauffeurs?.length === 0">
        <span jhiTranslate="gatewayApp.transportChauffeur.home.notFound">No chauffeurs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="chauffeurs && chauffeurs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prenom"><span jhiTranslate="gatewayApp.transportChauffeur.prenom">Prenom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nom"><span jhiTranslate="gatewayApp.transportChauffeur.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateNaissance"><span jhiTranslate="gatewayApp.transportChauffeur.dateNaissance">Date Naissance</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lieuNaissance"><span jhiTranslate="gatewayApp.transportChauffeur.lieuNaissance">Lieu Naissance</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cin"><span jhiTranslate="gatewayApp.transportChauffeur.cin">Cin</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telephone"><span jhiTranslate="gatewayApp.transportChauffeur.telephone">Telephone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="adresse"><span jhiTranslate="gatewayApp.transportChauffeur.adresse">Adresse</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let chauffeur of chauffeurs ;trackBy: trackId">
                    <td><a [routerLink]="['/chauffeur', chauffeur.id, 'view']">{{ chauffeur.id }}</a></td>
                    <td>{{ chauffeur.prenom }}</td>
                    <td>{{ chauffeur.nom }}</td>
                    <td>{{ chauffeur.dateNaissance | date:'medium' }}</td>
                    <td>{{ chauffeur.lieuNaissance }}</td>
                    <td>{{ chauffeur.cin }}</td>
                    <td>{{ chauffeur.telephone }}</td>
                    <td>{{ chauffeur.adresse }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/chauffeur', chauffeur.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/chauffeur', chauffeur.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(chauffeur)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="chauffeurs && chauffeurs.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
