<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.cantineGroupeCantine.home.title">Groupe Cantines</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-groupe-cantine" [routerLink]="['/groupe-cantine/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.cantineGroupeCantine.home.createLabel">
            Create a new Groupe Cantine
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="groupeCantines?.length === 0">
        <span jhiTranslate="gatewayApp.cantineGroupeCantine.home.notFound">No groupeCantines found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="groupeCantines && groupeCantines.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nom"><span jhiTranslate="gatewayApp.cantineGroupeCantine.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nombreEleves"><span jhiTranslate="gatewayApp.cantineGroupeCantine.nombreEleves">Nombre Eleves</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cantineId"><span jhiTranslate="gatewayApp.cantineGroupeCantine.cantine">Cantine</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let groupeCantine of groupeCantines ;trackBy: trackId">
                    <td><a [routerLink]="['/groupe-cantine', groupeCantine.id, 'view']">{{ groupeCantine.id }}</a></td>
                    <td>{{ groupeCantine.nom }}</td>
                    <td>{{ groupeCantine.nombreEleves }}</td>
                    <td>
                        <div *ngIf="groupeCantine.cantineId">
                            <a [routerLink]="['/cantine', groupeCantine.cantineId , 'view']" >{{ groupeCantine.cantineId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/groupe-cantine', groupeCantine.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/groupe-cantine', groupeCantine.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(groupeCantine)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="groupeCantines && groupeCantines.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
