<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.transportGroupeTransport.home.title">Groupe Transports</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-groupe-transport" [routerLink]="['/groupe-transport/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.transportGroupeTransport.home.createLabel">
            Create a new Groupe Transport
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="groupeTransports?.length === 0">
        <span jhiTranslate="gatewayApp.transportGroupeTransport.home.notFound">No groupeTransports found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="groupeTransports && groupeTransports.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nom"><span jhiTranslate="gatewayApp.transportGroupeTransport.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nombreEleves"><span jhiTranslate="gatewayApp.transportGroupeTransport.nombreEleves">Nombre Eleves</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="etat"><span jhiTranslate="gatewayApp.transportGroupeTransport.etat">Etat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let groupeTransport of groupeTransports ;trackBy: trackId">
                    <td><a [routerLink]="['/groupe-transport', groupeTransport.id, 'view']">{{ groupeTransport.id }}</a></td>
                    <td>{{ groupeTransport.nom }}</td>
                    <td>{{ groupeTransport.nombreEleves }}</td>
                    <td>{{ groupeTransport.etat }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/groupe-transport', groupeTransport.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/groupe-transport', groupeTransport.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(groupeTransport)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="groupeTransports && groupeTransports.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
