<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bus">
            <h2><span jhiTranslate="gatewayApp.transportBus.detail.title">Bus</span> {{ bus.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.transportBus.matricule">Matricule</span></dt>
                <dd>
                    <span>{{ bus.matricule }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.transportBus.numero">Numero</span></dt>
                <dd>
                    <span>{{ bus.numero }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.transportBus.nombreplace">Nombreplace</span></dt>
                <dd>
                    <span>{{ bus.nombreplace }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.transportBus.chauffeur">Chauffeur</span></dt>
                <dd>
                    <div *ngIf="bus.chauffeurId">
                        <a [routerLink]="['/chauffeur', bus.chauffeurId, 'view']">{{ bus.chauffeurId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bus', bus.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
