<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-bus-heading" jhiTranslate="gatewayApp.transportBus.home.createOrEditLabel">Create or edit a Bus</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.transportBus.matricule" for="field_matricule">Matricule</label>
                    <input type="text" class="form-control" name="matricule" id="field_matricule"
                           formControlName="matricule"/>
                    <div *ngIf="editForm.get('matricule')!.invalid && (editForm.get('matricule')!.dirty || editForm.get('matricule')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('matricule')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.transportBus.numero" for="field_numero">Numero</label>
                    <input type="text" class="form-control" name="numero" id="field_numero"
                           formControlName="numero"/>
                    <div *ngIf="editForm.get('numero')!.invalid && (editForm.get('numero')!.dirty || editForm.get('numero')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numero')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.transportBus.nombreplace" for="field_nombreplace">Nombreplace</label>
                    <input type="number" class="form-control" name="nombreplace" id="field_nombreplace"
                           formControlName="nombreplace"/>
                    <div *ngIf="editForm.get('nombreplace')!.invalid && (editForm.get('nombreplace')!.dirty || editForm.get('nombreplace')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombreplace')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('nombreplace')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.transportBus.chauffeur" for="field_chauffeur">Chauffeur</label>
                    <select class="form-control" id="field_chauffeur" name="chauffeur" formControlName="chauffeurId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="chauffeurOption.id" *ngFor="let chauffeurOption of chauffeurs; trackBy: trackById">{{ chauffeurOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
